Problem Statement 18: (Database connection and data upload)


All the files in the clean folder are required to be uploaded to a relational database. The table names should be the same as the file names without the extension.
The primary key and foreign key constraints should be included in the tables wherever required.

In [1]:
pip install xlrd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xlrd in c:\users\miles.mile-bl-4748-la.000\appdata\roaming\python\python311\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [13]:
pip install cryptography

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Collecting cryptography
  Downloading cryptography-39.0.2-cp36-abi3-win_amd64.whl (2.5 MB)
     ---------------------------------------- 0.0/2.5 MB ? eta -:--:--
     - -------------------------------------- 0.1/2.5 MB 1.6 MB/s eta 0:00:02
     -- ------------------------------------- 0.2/2.5 MB 2.4 MB/s eta 0:00:01
     ------ --------------------------------- 0.4/2.5 MB 2.9 MB/s eta 0:00:01
     ---------- ----------------------------- 0.7/2.5 MB 3.8 MB/s eta 0:00:01
     ------------ --------------------------- 0.8/2.5 MB 4.0 MB/s eta 0:00:01
     ------------ --------------------------- 0.8/2.5 MB 4.0 MB/s eta 0:00:01
     ------------- -------------------------- 0.8/2.5 MB 2.7 MB/s eta 0:00:01
     ---------------- ----------------------- 1.0/2.5 MB 2.8 MB/s eta 0:00:01
     ---------------------- ----------------- 1.4/2.5 MB 3.4 MB/s eta 0:00:01
     --------------------------- ------------ 1.7/2.5 MB 3.6 MB/s eta 0:00:01
     ------------------------------------ --- 2.2/2.5 MB 4.5 MB/s eta 0:00:01
     ---------------------------------------  2.4/2.5 MB 4.6 MB/s eta 0:00:01
     ---------------------------------------- 2.5/2.5 MB 4.3 MB/s eta 0:00:00
Requirement already satisfied: cffi>=1.12 in c:\users\miles.mile-bl-4748-la.000\appdata\roaming\python\python311\site-packages (from cryptography) (1.15.1)
Requirement already satisfied: pycparser in c:\users\miles.mile-bl-4748-la.000\appdata\roaming\python\python311\site-packages (from cffi>=1.12->cryptography) (2.21)
Installing collected packages: cryptography
Successfully installed cryptography-39.0.2

In [14]:
import mysql.connector
import xlrd
import pandas as pd
import numpy as np
import os
import sqlalchemy
import openpyxl
import pymysql
import cryptography

**Inserting census clean data into database**

In [2]:
census=pd.read_csv('clean_Data/Clean_Data/clean_census.csv')

In [3]:
census

,Unnamed: 0,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,Households_Rural,Households_Urban,Households,Young_and_Adult,Middle_Aged,Senior_Citizen,Age_Not_Started
0,0,Jammu and Kashmir,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,158438.0,23226.0,181664.0,6.007590e+05,178435.0,89679.000000,1481.0
1,1,Jammu and Kashmir,Badgam,753745.0,398041.0,355704.0,335649.0,207741.0,127908.0,160649.0,27190.0,187839.0,5.032230e+05,160933.0,88978.000000,611.0
2,2,Laddakh,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,36920.0,17474.0,54394.0,7.070300e+04,41515.0,21019.000000,250.0
3,3,Laddakh,Kargil,140802.0,77785.0,63017.0,86236.0,56301.0,29935.0,40370.0,7774.0,48144.0,8.753200e+04,35561.0,17488.000000,221.0
4,4,Jammu and Kashmir,Punch,476835.0,251899.0,224936.0,261724.0,163333.0,98391.0,132139.0,15269.0,147408.0,3.049790e+05,109818.0,61334.000000,704.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,635,Pondicherry,Mahe,41816.0,19143.0,22673.0,36470.0,16610.0,19860.0,0.0,12110.0,12110.0,1.976000e+04,12543.0,9428.000000,85.0
636,636,Pondicherry,Karaikal,200222.0,97809.0,102413.0,154916.0,79903.0,75013.0,35618.0,33715.0,69333.0,1.107321e+06,60089.0,301130.541139,366.0
637,637,Andaman and Nicobar Islands,Nicobars,36842.0,20727.0,16115.0,25332.0,15397.0,9935.0,15958.0,0.0,15958.0,1.878600e+04,12088.0,5922.000000,46.0
638,638,Andaman and Nicobar Islands,North and Middle Andaman,105597.0,54861.0,50736.0,78683.0,43186.0,35497.0,39091.0,1094.0,40185.0,5.735000e+04,30741.0,17464.000000,42.0
639,639,Andaman and Nicobar Islands,South Andaman,238142.0,127283.0,110859.0,190266.0,105794.0,84472.0,34901.0,50631.0,85532.0,1.284020e+05,76332.0,33128.000000,280.0

In [16]:
import mysql.connector

mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="Admin@123"
)

In [17]:
cursor=mydb.cursor()

In [18]:
cursor.execute('CREATE DATABASE pythonprojectdb2')

In [19]:
mydb.commit()

In [20]:
import pymysql

conn = pymysql.connect(
    host='localhost',
    user='root',
    password='Admin@123',
    database='pythonprojectdb2'
)

In [21]:
cursor=conn.cursor()

In [22]:
census.columns

Index(['Unnamed: 0', 'State/UT', 'District', 'Population', 'Male', 'Female',
       'Literate', 'Literate_Male', 'Literate_Female', 'Households_Rural',
       'Households_Urban', 'Households', 'Young_and_Adult', 'Middle_Aged',
       'Senior_Citizen', 'Age_Not_Started'],
      dtype='object')

In [8]:
census.rename(columns={'Unnamed: 0':'Sno'},inplace=True)

In [9]:
census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Sno               640 non-null    int64
 1   State/UT          640 non-null    object
 2   District          640 non-null    object
 3   Population        640 non-null    float64
 4   Male              640 non-null    float64
 5   Female            640 non-null    float64
 6   Literate          640 non-null    float64
 7   Literate_Male     640 non-null    float64
 8   Literate_Female   640 non-null    float64
 9   Households_Rural  640 non-null    float64
 10  Households_Urban  640 non-null    float64
 11  Households        640 non-null    float64
 12  Young_and_Adult   640 non-null    float64
 13  Middle_Aged       640 non-null    float64
 14  Senior_Citizen    640 non-null    float64
 15  Age_Not_Started   640 non-null    float64
dtypes: float64(13), int64(1), object(2)
memory usage: 80.1+ KB

In [13]:
with conn.cursor() as cursor:
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS census (Sno int,StateorUT varchar(30),District varchar(30),Population float,Male float, Female float,Literate float,Literate_Male float,Literate_Female float, Households_Rural float,Households_Urban float,Households float, Young_and_Adult float,Middle_Aged float,Senior_Citizen float,Age_Not_Started float,foreign key(StateorUT) references )""")
    conn.commit()

already inserted do not run

In [14]:
with conn.cursor() as cursor:
    # generate a parameterized SQL insert statement
    placeholders = ', '.join(['%s'] * len(census.columns))
    sql = f"INSERT INTO census VALUES ({placeholders})"

    # execute the insert statement with the data
    data = [tuple(row) for row in census.values]
    cursor.executemany(sql, data)
    conn.commit()

**Inserting Housing clean data into database**

In [39]:
housing=pd.read_csv('clean_Data/Clean_Data/housing_cleanwithStates.csv')

In [40]:
housing

,District,Households,Households_Rural,Households_Rural_Dilapidated,Households_Rural_Livable,Households_Rural_Toilet_Premise,Households_Urban,Households_Urban_Dilapidated,Households_Urban_Livable,Households_Urban_Toilet_Premise,State/UT
0,Kupwara,181664.0,158438.0,13150.354,92052.478,77476.182,23226.0,1114.848,11496.870,16304.652,Jammu and Kashmir
1,Badgam,187839.0,160649.0,6265.311,74380.487,133820.617,27190.0,706.940,9190.220,24579.760,Jammu and Kashmir
2,Leh(Ladakh),54394.0,36920.0,775.320,19013.800,32526.520,17474.0,192.214,9540.804,16740.092,Laddakh
3,Kargil,48144.0,40370.0,1412.950,29591.210,39078.160,7774.0,93.288,5348.512,7579.650,Laddakh
4,Punch,147408.0,132139.0,3171.336,78622.705,18103.043,15269.0,122.152,4168.437,11497.557,Jammu and Kashmir
...,...,...,...,...,...,...,...,...,...,...,...
635,Mahe,12110.0,0.0,0.000,0.000,0.000,12110.0,84.770,2857.960,9082.500,Pondicherry
636,Karaikal,69333.0,35618.0,926.068,11362.142,12751.244,33715.0,404.580,6405.850,27814.875,Pondicherry
637,Nicobars,15958.0,15958.0,335.118,5872.544,7596.008,0.0,0.000,0.000,0.000,Andaman and Nicobar Islands
638,North AND Middle Andaman,40185.0,39091.0,1055.457,17317.313,18763.680,1094.0,72.204,611.546,613.734,Andaman and Nicobar Islands
639,South Andaman,85532.0,34901.0,1221.535,11691.835,22580.947,50631.0,607.572,10835.034,44454.018,Andaman and Nicobar Islands

In [41]:
housing.columns

Index(['District', 'Households', 'Households_Rural',
       'Households_Rural_Dilapidated', 'Households_Rural_Livable',
       'Households_Rural_Toilet_Premise', 'Households_Urban',
       'Households_Urban_Dilapidated', 'Households_Urban_Livable',
       'Households_Urban_Toilet_Premise', 'State/UT'],
      dtype='object')

DO NOT RUN

In [42]:
with conn.cursor() as cursor:
    cursor.execute("""create table if not exists housing(District varchar(50),Households float, Households_Rural float, Households_Rural_Dilapidated float,
       Households_Rural_Livable float, Households_Rural_Toilet_Premise float,
       Households_Urban float, Households_Urban_Dilapidated float,
       Households_Urban_Livable float, Households_Urban_Toilet_Premise float,
       StateorUT varchar(30),
       foreign key(StateorUT,District) references census(StateorUT,District))""")
    conn.commit()

In [43]:
with conn.cursor() as cursor:
    # generate a parameterized SQL insert statement
    placeholders = ', '.join(['%s'] * len(housing.columns))
    sql = f"INSERT INTO housing VALUES ({placeholders})"

    # execute the insert statement with the data
    data = [tuple(row) for row in housing.values]
    cursor.executemany(sql, data)
    conn.commit()

**Insering Hospital data into database**

In [13]:
hospitals=pd.read_csv('clean_Data/Clean_Data/hospitals_clean.csv')

In [14]:
hospitals.columns

Index(['Unnamed: 0', 'State/UT', 'Number of Primary Health Centers(PHCs)',
       'Community Health Centers(CHCs)',
       'Sub-District/Divisional Hospitals(SDHs)', 'District Hospitals(DHs)',
       'Hospitals', 'HospitalBeds', 'Population'],
      dtype='object')

In [15]:
hospitals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 9 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Unnamed: 0                               37 non-null     int64
 1   State/UT                                 37 non-null     object
 2   Number of Primary Health Centers(PHCs)   37 non-null     int64
 3   Community Health Centers(CHCs)           37 non-null     int64
 4   Sub-District/Divisional Hospitals(SDHs)  37 non-null     int64
 5   District Hospitals(DHs)                  37 non-null     int64
 6   Hospitals                                37 non-null     int64
 7   HospitalBeds                             37 non-null     int64
 8   Population                               37 non-null     int64
dtypes: int64(8), object(1)
memory usage: 2.7+ KB

In [16]:
hospitals.rename(columns={'Unnamed: 0':'S.no'},inplace=True)

In [17]:
hospitals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 9 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   S.no                                     37 non-null     int64
 1   State/UT                                 37 non-null     object
 2   Number of Primary Health Centers(PHCs)   37 non-null     int64
 3   Community Health Centers(CHCs)           37 non-null     int64
 4   Sub-District/Divisional Hospitals(SDHs)  37 non-null     int64
 5   District Hospitals(DHs)                  37 non-null     int64
 6   Hospitals                                37 non-null     int64
 7   HospitalBeds                             37 non-null     int64
 8   Population                               37 non-null     int64
dtypes: int64(8), object(1)
memory usage: 2.7+ KB

In [18]:
#converting the count of PHCs CHCs and SDHs to int

In [19]:
k=hospitals['State/UT'].tolist()

In [31]:
j=government_hospital['State/UT'].tolist()

In [56]:
for i in k:
    if i not in j:
        print(i)

All India

['Lakshadweep',
 'Daman and Diu',
 'Dadra and Nagar Haveli',
 'Sikkim',
 'Andaman and Nicobar Islands',
 'Nagaland',
 'Mizoram',
 'Arunachal Pradesh',
 'Manipur',
 'Goa',
 'Chandigarh',
 'Pondicherry',
 'Meghalaya',
 'Tripura',
 'Uttarakhand',
 'Jharkhand',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Punjab',
 'Haryana',
 'Chhattisgarh',
 'Orissa',
 'Telangana',
 'Bihar',
 'Assam',
 'Delhi',
 'Madhya Pradesh',
 'Kerala',
 'Gujarat',
 'West Bengal',
 'Rajasthan',
 'Karnataka',
 'Uttar Pradesh',
 'Andhra Pradesh',
 'Maharashtra',
 'Tamil Nadu',
 'All India']

In [35]:
hospitals

,S.no,State/UT,Number of Primary Health Centers(PHCs),Community Health Centers(CHCs),Sub-District/Divisional Hospitals(SDHs),District Hospitals(DHs),Hospitals,HospitalBeds,Population
0,0,Lakshadweep,4,3,2,1,10,250,64473
1,1,Daman and Diu,4,2,0,2,8,298,243247
2,2,Dadra and Nagar Haveli,9,2,1,1,13,568,343709
3,3,Sikkim,25,2,1,4,32,1145,610577
4,4,Andaman and Nicobar Islands,27,4,0,3,34,1246,380581
5,5,Nagaland,134,21,0,11,166,1944,1978502
6,6,Mizoram,65,10,3,9,87,2312,1097206
7,7,Arunachal Pradesh,122,62,0,15,199,2320,1383727
8,8,Manipur,87,17,1,9,114,2562,2855794
9,9,Goa,31,4,2,3,40,2666,1458545
10,10,Chandigarh,40,2,1,4,47,3756,1055450
11,11,Pondicherry,40,4,5,4,53,4462,1247953
12,12,Meghalaya,138,29,0,13,180,4585,2966889
13,13,Tripura,114,22,12,9,157,4895,3673917
14,14,Uttarakhand,275,69,19,20,383,6660,10086292
15,15,Jharkhand,343,179,13,23,558,7404,32988134
16,16,Himachal Pradesh,516,79,61,15,671,8706,6864602
17,17,Jammu and Kashmir,702,87,0,29,818,11342,12267013
18,18,Punjab,521,146,47,28,742,13527,27743338
19,19,Haryana,500,131,24,28,683,13841,25351462
20,20,Chhattisgarh,813,166,12,32,1023,14354,25545198
21,21,Orissa,1360,377,27,35,1799,16497,41974218
22,22,Telangana,788,82,47,15,932,17358,35193978
23,23,Bihar,2007,63,33,43,2146,17796,104099452
24,24,Assam,1007,166,14,33,1220,19115,31205576
25,25,Delhi,534,25,9,47,615,20572,16787941
26,26,Madhya Pradesh,1420,324,72,51,1867,38140,72626809
27,27,Kerala,933,229,82,53,1297,39511,33406061
28,28,Gujarat,1770,385,44,37,2236,41129,60439692
29,29,West Bengal,1374,406,70,55,1905,51163,91276115
30,30,Rajasthan,2463,579,64,33,3139,51844,68548437
31,31,Karnataka,2547,207,147,42,2943,56333,61140305
32,32,Uttar Pradesh,3277,671,0,174,4122,58310,199812341
33,33,Andhra Pradesh,1417,198,31,20,1666,60799,49386799
34,34,Maharashtra,2638,430,101,70,3239,68998,112374333
35,35,Tamil Nadu,1854,385,310,32,2581,72616,72147030
36,36,All India,29899,5568,1255,1003,37725,739024,1210899985

In [33]:
with conn.cursor() as cursor:
    cursor.execute("""create table if not exists hospitals(Sno int, StateorUT varchar(50), Number_of_Primary_Health_Centers int,Community_Health_Centers int,Sub_DistrictorDivisional_Hospitals int, District_Hospitals int,Hospitals int, HospitalBeds int, Population int, primary key(StateorUT))""")
    conn.commit()

In [34]:
with conn.cursor() as cursor:
    # generate a parameterized SQL insert statement
    placeholders = ', '.join(['%s'] * len(hospitals.columns))
    sql = f"INSERT INTO hospitals VALUES ({placeholders})"

    # execute the insert statement with the data
    data = [tuple(row) for row in hospitals.values]
    cursor.executemany(sql, data)
    conn.commit()

**Inserting government hospital data into database**

In [21]:
government_hospital=pd.read_csv('clean_Data/Clean_Data/government_hospitals.csv')

In [22]:
government_hospital.columns

Index(['Unnamed: 0', 'State/UT', 'Rural_Government_Hospitals',
       'Rural_Government_Beds', 'Urban_Government_Hospitals',
       'Urban_Government_Beds', 'Last_Updated', 'Sum', 'Hospital Sum'],
      dtype='object')

In [23]:
government_hospital.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  37 non-null     int64
 1   State/UT                    37 non-null     object
 2   Rural_Government_Hospitals  37 non-null     int64
 3   Rural_Government_Beds       37 non-null     int64
 4   Urban_Government_Hospitals  37 non-null     int64
 5   Urban_Government_Beds       37 non-null     int64
 6   Last_Updated                36 non-null     object
 7   Sum                         37 non-null     int64
 8   Hospital Sum                37 non-null     int64
dtypes: int64(7), object(2)
memory usage: 2.7+ KB

In [24]:
#government_hospital.fillna(0,axis=1,inplace=True)

In [25]:
government_hospital.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  37 non-null     int64
 1   State/UT                    37 non-null     object
 2   Rural_Government_Hospitals  37 non-null     int64
 3   Rural_Government_Beds       37 non-null     int64
 4   Urban_Government_Hospitals  37 non-null     int64
 5   Urban_Government_Beds       37 non-null     int64
 6   Last_Updated                36 non-null     object
 7   Sum                         37 non-null     int64
 8   Hospital Sum                37 non-null     int64
dtypes: int64(7), object(2)
memory usage: 2.7+ KB

In [26]:
government_hospital

,Unnamed: 0,State/UT,Rural_Government_Hospitals,Rural_Government_Beds,Urban_Government_Hospitals,Urban_Government_Beds,Last_Updated,Sum,Hospital Sum
0,33,Daman and Diu,5,240,0,0,2015-12-31,240,5
1,35,Lakshadweep,9,300,0,0,2016-01-01,300,9
2,32,Dadra and Nagar Haveli,10,273,1,316,2017-12-31,589,11
3,31,Chandigarh,0,0,4,778,2016-12-31,778,4
4,30,Andaman and Nicobar Islands,27,575,3,500,2016-12-31,1075,30
5,16,Manipur,23,730,7,697,2014-01-01,1427,30
6,23,Sikkim,24,260,9,1300,2017-12-31,1560,33
7,19,Nagaland,21,630,15,1250,2015-12-31,1880,36
8,18,Mizoram,56,604,34,1393,2017-12-31,1997,90
9,2,Arunachal Pradesh,208,2136,10,268,2017-12-31,2404,218
10,6,Goa,17,1405,25,1608,2017-12-31,3013,42
11,36,Pondicherry,3,96,11,3473,2016-01-01,3569,14
12,26,Tripura,99,1140,56,3277,2017-12-31,4417,155
13,17,Meghalaya,143,1970,14,2487,2017-12-31,4457,157
14,28,Uttarakhand,410,3284,50,5228,2015-12-31,8512,460
15,5,Chhattisgarh,169,5070,45,4342,2016-01-01,9412,214
16,11,Jharkhand,519,5842,36,4942,2015-12-31,10784,555
17,8,Haryana,609,6690,59,4550,2016-12-31,11240,668
18,10,Jammu and Kashmir,56,7234,76,4417,2016-12-30,11651,132
19,4,Bihar,930,6083,103,5936,2016-12-31,12019,1033
20,9,Himachal Pradesh,705,5665,96,6734,2017-12-31,12399,801
21,3,Assam,1176,10944,50,6198,2017-12-31,17142,1226
22,21,Punjab,510,5805,172,12128,2017-12-31,17933,682
23,20,Orissa,1655,6339,149,12180,2017-12-31,18519,1804
24,25,Telangana,802,7668,61,13315,2017-12-31,20983,863
25,1,Andhra Pradesh,193,6480,65,16658,2017-01-01,23138,258
26,34,Delhi,0,0,109,24383,2015-01-01,24383,109
27,14,Madhya Pradesh,334,10020,117,18819,2016-01-01,28839,451
28,22,Rajasthan,602,21088,150,10760,2016-12-31,31848,752
29,7,Gujarat,364,11715,122,20565,2016-12-31,32280,486
30,13,Kerala,981,16865,299,21139,2017-01-01,38004,1280
31,15,Maharashtra,273,12398,438,39048,2015-12-31,51446,711
32,12,Karnataka,2471,21072,374,49093,2017-12-31,70165,2845
33,27,Uttar Pradesh,4442,39104,193,37156,2017-12-31,76260,4635
34,24,Tamil Nadu,692,40179,525,37353,2017-12-31,77532,1217
35,29,West Bengal,1272,19684,294,58882,2015-01-01,78566,1566
36,37,India,19810,279588,3772,431173,NaN,710761,23582

In [27]:
government_hospital.at[36,'State/UT']='All India'

In [67]:
government_hospital

,S.no,State/UT,Rural_Government_Hospitals,Rural_Government_Beds,Urban_Government_Hospitals,Urban_Government_Beds,Last_Updated,Sum,Hospital Sum
0,33,Daman and Diu,5,240,0,0,2015-12-31,240,5
1,35,Lakshadweep,9,300,0,0,2016-01-01,300,9
2,32,Dadra and Nagar Haveli,10,273,1,316,2017-12-31,589,11
3,31,Chandigarh,0,0,4,778,2016-12-31,778,4
4,30,Andaman and Nicobar Islands,27,575,3,500,2016-12-31,1075,30
5,16,Manipur,23,730,7,697,2014-01-01,1427,30
6,23,Sikkim,24,260,9,1300,2017-12-31,1560,33
7,19,Nagaland,21,630,15,1250,2015-12-31,1880,36
8,18,Mizoram,56,604,34,1393,2017-12-31,1997,90
9,2,Arunachal Pradesh,208,2136,10,268,2017-12-31,2404,218
10,6,Goa,17,1405,25,1608,2017-12-31,3013,42
11,36,Pondicherry,3,96,11,3473,2016-01-01,3569,14
12,26,Tripura,99,1140,56,3277,2017-12-31,4417,155
13,17,Meghalaya,143,1970,14,2487,2017-12-31,4457,157
14,28,Uttarakhand,410,3284,50,5228,2015-12-31,8512,460
15,5,Chhattisgarh,169,5070,45,4342,2016-01-01,9412,214
16,11,Jharkhand,519,5842,36,4942,2015-12-31,10784,555
17,8,Haryana,609,6690,59,4550,2016-12-31,11240,668
18,10,Jammu and Kashmir,56,7234,76,4417,2016-12-30,11651,132
19,4,Bihar,930,6083,103,5936,2016-12-31,12019,1033
20,9,Himachal Pradesh,705,5665,96,6734,2017-12-31,12399,801
21,3,Assam,1176,10944,50,6198,2017-12-31,17142,1226
22,21,Punjab,510,5805,172,12128,2017-12-31,17933,682
23,20,Orissa,1655,6339,149,12180,2017-12-31,18519,1804
24,25,Telangana,802,7668,61,13315,2017-12-31,20983,863
25,1,Andhra Pradesh,193,6480,65,16658,2017-01-01,23138,258
26,34,Delhi,0,0,109,24383,2015-01-01,24383,109
27,14,Madhya Pradesh,334,10020,117,18819,2016-01-01,28839,451
28,22,Rajasthan,602,21088,150,10760,2016-12-31,31848,752
29,7,Gujarat,364,11715,122,20565,2016-12-31,32280,486
30,13,Kerala,981,16865,299,21139,2017-01-01,38004,1280
31,15,Maharashtra,273,12398,438,39048,2015-12-31,51446,711
32,12,Karnataka,2471,21072,374,49093,2017-12-31,70165,2845
33,27,Uttar Pradesh,4442,39104,193,37156,2017-12-31,76260,4635
34,24,Tamil Nadu,692,40179,525,37353,2017-12-31,77532,1217
35,29,West Bengal,1272,19684,294,58882,2015-01-01,78566,1566
36,37,All India,19810,279588,3772,431173,0,710761,23582

In [28]:
government_hospital.fillna(0,inplace=True)

In [29]:
government_hospital.isnull().sum()

Unnamed: 0                    0
State/UT                      0
Rural_Government_Hospitals    0
Rural_Government_Beds         0
Urban_Government_Hospitals    0
Urban_Government_Beds         0
Last_Updated                  0
Sum                           0
Hospital Sum                  0
dtype: int64

In [30]:
government_hospital.rename(columns={'Unnamed: 0':'S.no'},inplace=True)

In [49]:
with conn.cursor() as cursor:
    cursor.execute("""create table if not exists government_hospitals(Sno int, StateorUT varchar(50), Rural_Government_Hospitals int,Rural_Government_Beds int,Urban_Government_Hospitals int,Urban_Government_Beds int,Last_Updated varchar(50),bedsum int, Hospital_Sum int, foreign key(StateorUT) references hospitals(StateorUT))""")
    conn.commit()

In [68]:
with conn.cursor() as cursor:
    # generate a parameterized SQL insert statement
    placeholders = ', '.join(['%s'] * len(government_hospital.columns))
    sql = f"INSERT INTO government_hospitals VALUES ({placeholders})"

    # execute the insert statement with the data
    data = [tuple(row) for row in government_hospital.values]
    cursor.executemany(sql, data)
    conn.commit()

In [69]:
government_hospital

,S.no,State/UT,Rural_Government_Hospitals,Rural_Government_Beds,Urban_Government_Hospitals,Urban_Government_Beds,Last_Updated,Sum,Hospital Sum
0,33,Daman and Diu,5,240,0,0,2015-12-31,240,5
1,35,Lakshadweep,9,300,0,0,2016-01-01,300,9
2,32,Dadra and Nagar Haveli,10,273,1,316,2017-12-31,589,11
3,31,Chandigarh,0,0,4,778,2016-12-31,778,4
4,30,Andaman and Nicobar Islands,27,575,3,500,2016-12-31,1075,30
5,16,Manipur,23,730,7,697,2014-01-01,1427,30
6,23,Sikkim,24,260,9,1300,2017-12-31,1560,33
7,19,Nagaland,21,630,15,1250,2015-12-31,1880,36
8,18,Mizoram,56,604,34,1393,2017-12-31,1997,90
9,2,Arunachal Pradesh,208,2136,10,268,2017-12-31,2404,218
10,6,Goa,17,1405,25,1608,2017-12-31,3013,42
11,36,Pondicherry,3,96,11,3473,2016-01-01,3569,14
12,26,Tripura,99,1140,56,3277,2017-12-31,4417,155
13,17,Meghalaya,143,1970,14,2487,2017-12-31,4457,157
14,28,Uttarakhand,410,3284,50,5228,2015-12-31,8512,460
15,5,Chhattisgarh,169,5070,45,4342,2016-01-01,9412,214
16,11,Jharkhand,519,5842,36,4942,2015-12-31,10784,555
17,8,Haryana,609,6690,59,4550,2016-12-31,11240,668
18,10,Jammu and Kashmir,56,7234,76,4417,2016-12-30,11651,132
19,4,Bihar,930,6083,103,5936,2016-12-31,12019,1033
20,9,Himachal Pradesh,705,5665,96,6734,2017-12-31,12399,801
21,3,Assam,1176,10944,50,6198,2017-12-31,17142,1226
22,21,Punjab,510,5805,172,12128,2017-12-31,17933,682
23,20,Orissa,1655,6339,149,12180,2017-12-31,18519,1804
24,25,Telangana,802,7668,61,13315,2017-12-31,20983,863
25,1,Andhra Pradesh,193,6480,65,16658,2017-01-01,23138,258
26,34,Delhi,0,0,109,24383,2015-01-01,24383,109
27,14,Madhya Pradesh,334,10020,117,18819,2016-01-01,28839,451
28,22,Rajasthan,602,21088,150,10760,2016-12-31,31848,752
29,7,Gujarat,364,11715,122,20565,2016-12-31,32280,486
30,13,Kerala,981,16865,299,21139,2017-01-01,38004,1280
31,15,Maharashtra,273,12398,438,39048,2015-12-31,51446,711
32,12,Karnataka,2471,21072,374,49093,2017-12-31,70165,2845
33,27,Uttar Pradesh,4442,39104,193,37156,2017-12-31,76260,4635
34,24,Tamil Nadu,692,40179,525,37353,2017-12-31,77532,1217
35,29,West Bengal,1272,19684,294,58882,2015-01-01,78566,1566
36,37,All India,19810,279588,3772,431173,0,710761,23582

**19) Verification is a necessary process to be followed after uploading the data.
Join all the tables using the respective primary key- foreign key pair and show the top 3 rows. 
Verify whether the result is as expected or not. If not, then identify and fix the issue.**

select gh.StateorUT, gh.Hospital_Sum, h.new_hospitals from hospitals h join government_hospitals3 gh
on gh.StateorUT=h.StateorUT;

In [44]:
cursor=conn.cursor()

In [45]:
cursor.execute("select gh.StateorUT, gh.Hospital_Sum, h.population from hospitals h join government_hospitals gh on gh.StateorUT=h.StateorUT;")

37

In [46]:
selects=cursor.fetchall()

In [47]:
for x in selects:
    print(x)

('All India', 23582, 1210899985)
('Andaman and Nicobar Islands', 30, 380581)
('Andhra Pradesh', 258, 49386799)
('Arunachal Pradesh', 218, 1383727)
('Assam', 1226, 31205576)
('Bihar', 1033, 104099452)
('Chandigarh', 4, 1055450)
('Chhattisgarh', 214, 25545198)
('Dadra and Nagar Haveli', 11, 343709)
('Daman and Diu', 5, 243247)
('Delhi', 109, 16787941)
('Goa', 42, 1458545)
('Gujarat', 486, 60439692)
('Haryana', 668, 25351462)
('Himachal Pradesh', 801, 6864602)
('Jammu and Kashmir', 132, 12267013)
('Jharkhand', 555, 32988134)
('Karnataka', 2845, 61140305)
('Kerala', 1280, 33406061)
('Lakshadweep', 9, 64473)
('Madhya Pradesh', 451, 72626809)
('Maharashtra', 711, 112374333)
('Manipur', 30, 2855794)
('Meghalaya', 157, 2966889)
('Mizoram', 90, 1097206)
('Nagaland', 36, 1978502)
('Orissa', 1804, 41974218)
('Pondicherry', 14, 1247953)
('Punjab', 682, 27743338)
('Rajasthan', 752, 68548437)
('Sikkim', 33, 610577)
('Tamil Nadu', 1217, 72147030)
('Telangana', 863, 35193978)
('Tripura', 155, 3673917)
('Uttar Pradesh', 4635, 199812341)
('Uttarakhand', 460, 10086292)
('West Bengal', 1566, 91276115)

Problem Statement 20: (Run Query on the database and use in python)
Write a query that finds the number of households without a toilet on the premise for each district of the state that has the least hospital bed-to-population ratio.
Display the information using python.

 - BIHAR is the state with least hospital to bed ratio from the previous question(q12)

In [48]:
query="select StateorUT,district,households-(Households_Urban_Toilet_Premise+Households_Rural_Toilet_Premise) as no_toilet_on_premise from housing where StateorUT='Bihar';"

In [50]:
cursor.execute(query)

38

In [51]:
selects=cursor.fetchall()

In [53]:
for x in selects:
    print(x)

('Bihar', 'Araria', 553280.728515625)
('Bihar', 'Arwal', 110923.0673828125)
('Bihar', 'Aurangabad', 358706.765625)
('Bihar', 'Banka', 324897.0927734375)
('Bihar', 'Begusarai', 545669.5703125)
('Bihar', 'Bhagalpur', 472626.3359375)
('Bihar', 'Bhojpur', 365943.06640625)
('Bihar', 'Buxar', 240369.466796875)
('Bihar', 'Darbhanga', 822057.68359375)
('Bihar', 'Gaya', 628489.1328125)
('Bihar', 'Gopalganj', 463789.466796875)
('Bihar', 'Jamui', 279724.97265625)
('Bihar', 'Jehanabad', 158099.11328125)
('Bihar', 'Kaimur (Bhabua)', 237468.896484375)
('Bihar', 'Katihar', 655376.421875)
('Bihar', 'Khagaria', 288254.66015625)
('Bihar', 'Kishanganj', 351576.677734375)
('Bihar', 'Lakhisarai', 140724.546875)
('Bihar', 'Madhepura', 467672.763671875)
('Bihar', 'Madhubani', 904149.078125)
('Bihar', 'Munger', 202954.55859375)
('Bihar', 'Muzaffarpur', 944622.4765625)
('Bihar', 'Nalanda', 406400.8828125)
('Bihar', 'Nawada', 313787.810546875)
('Bihar', 'Pashchim Champaran', 752810.234375)
('Bihar', 'Patna', 693656.96875)
('Bihar', 'Purba Champaran', 1059211.6796875)
('Bihar', 'Purnia', 693596.390625)
('Bihar', 'Rohtas', 437387.375)
('Bihar', 'Saharsa', 411003.830078125)
('Bihar', 'Samastipur', 820794.23046875)
('Bihar', 'Saran', 565205.73828125)
('Bihar', 'Sheikhpura', 109710.9169921875)
('Bihar', 'Sheohar', 142469.98876953125)
('Bihar', 'Sitamarhi', 737353.056640625)
('Bihar', 'Siwan', 514131.71875)
('Bihar', 'Supaul', 476525.4365234375)
('Bihar', 'Vaishali', 598075.673828125)